In [2]:
#linear interpolation (ná»™i suy)
def interpolate(x1, y1, x2, y2, x):
  alpha = (x2 - x)/(x2 - x1)
  y = alpha*y1 + (1 - alpha)*y2
  return y

In [6]:
x1, y1 = 1,1
x2, y2 = 3,3
x = 2.9

print(interpolate(x1, y1, x2, y2, x))

2.8999999999999995

In [22]:
#design an algorith to fill missing data

In [43]:
#find first missing value
list = [2.0, 2.2, 3.5, None, 2.4, None]

def find_first_none(data):
  result = -1
  for i, element in enumerate(data):
    if element == None:
      result = i
      break
  return result

In [44]:
find_first_none(list)

3

In [50]:
#find first none missing value after missing value
def find_end(data):
  first_missing_value = find_first_none(data)
  end = len(data) #default value
  for i in range(first_missing_value + 1, len(data)):
    if data[i] != None:
      end = i
      break
  return end

In [62]:
#fill missing value by interpolate
def interpolate_data(data):
  for _ in range(len(data)):
    none_position = find_first_none(data)
    if none_position == -1:
      break
    begin = none_position - 1
    end =  find_end(data)

    if begin < 0:
      data[none_position] = data[end]
    elif end > len(data) - 1:
      data[none_position] = data[begin]
    else:
      value = interpolate(begin, data[begin], end, data[end], none_position)
      data[none_position] = value
  return data

In [65]:
data = [1,3,5, None, None, 6]

In [66]:
interpolate_data(data)

[1, 3, 5, 5.333333333333333, 5.666666666666666, 6]